.nav + main {
	margin-left: 80px;
}

@include mq("lg") {
	.nav + main {
		margin-top: 3.5rem;
		margin-left: 0;
	}
}

.container {
	min-height: 100vh;
	margin-right: $right-empty-space;
	position: relative;
	padding: (2 * $space) (1.7 * $space);
	
	&.container_color_white {
		background-color: $color-white;
	}
}

.nav-secondary + .container {
	margin-left: 270px;
} 

@include mq("xl") {
	.container {
		margin-right: 0;
	}
}

@include mq("md") {
	.nav-secondary + .container {
		margin-left: 0;
	}
}