/* -----------------------------------------------------------------------------

# Components - Icons

----------------------------------------------------------------------------- */

[class^="icomoon-"],
[class*=" icomoon-"] {
	@include user-select;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-sign-out:before {
	content: "\e907";
}

.icomoon-user:before {
	content: "\e905";
}

.icomoon-home:before {
	content: "\e906";
}

.icomoon-crown-solid:before {
	content: "\e900";
}

.icomoon-donate-solid:before {
	content: "\e901";
}

.icomoon-hand-with-coins:before {
	content: "\e902";
}

.icomoon-tags:before {
	content: "\e903";
}

.icomoon-link:before {
	content: "\e904";
}

.button-icon,
button.button-icon,
a.button-icon {
	overflow: hidden;
  @include flex-center;
	@include rounded(50%);
	@include shadow-s(0, 5px, 5px, rgba(0, 0, 0, 0.11));
	@include user-select;
	width: 2rem;
	height: 2rem;
	background-color: #ffffff;
	border: none;
	z-index: 1;
	font-size: 1.25rem;
	line-height: 1;
	padding: 0 !important;
	color: $color-secondary-text;
	margin: 0;

	&_type_flat {
		@include shadow-none;
	}

	&-block {
		display: block;
	}

	&::after {
		content: none;
	}

	&.button_size_s {
		width: 2rem;
	}

	&.button_size_m {
		width: 2.5rem;
	}

	&.button_size_l {
		width: 3.5rem;
	}

	&.drag {
		cursor: grab;
	}
}

.icon {
	@include user-select;

	&.icon_size_s {
		width: 1.5rem !important;
	}

	&.icon_size_m {
		width: 2.5rem !important;
	}

	&.icon_size_l {
		width: 3.5rem !important;
	}
}

.material-icons {
	@include user-select;
}