/* -----------------------------------------------------------------------------

# Components - List

----------------------------------------------------------------------------- */

ol,
ul {
  margin: 0 0 $space 0;
  padding-left: 1.25rem;

  &.blank {
    list-style: none;
    padding: 0;
  }

  &.inline {
    display: inline-block;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 0.5 * $space;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.gutter li {
    margin: (0.25 * $space) (0.25 * $space) (0.25 * $space) 0;
  }
}