.loader {
  @include flex-center;
	top: 0;
	bottom: 0;
	left: 80px;
	right: 0;
	z-index: 1000;
	position: fixed;
	background-color: $color-gray-light;

	@include mq("lg") {
		top: 49px;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.l__main {
	@include flex;
	@include flex-direction;
	animation: rotateBlock 1s infinite;

	span {
		@include flex;

		&::before,
		&::after {
			content: "";
			display: block;
			border: 4px solid $color-secondary;
			height: 30px;
			width: 30px;
			border-radius: 5px;
			margin: 3px;
			box-sizing: border-box;
		}

		&:first-child {
			&::before {
				animation: moveSquare1 1s infinite;
			}

			&::after {
				animation: moveSquare2 1s infinite;
			}
		}

		&:last-child {
			&::before {
				animation: moveSquare3 1s infinite;
			}

			&::after {
				animation: moveSquare4 1s infinite;
			}
		}
	}
}

@keyframes rotateBlock {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(90deg);
	}
}

@keyframes moveSquare1 {

	0%,
	100% {
		transform: translate3d(0, 0, 0);
	}

	50% {
		transform: translate3d(-3px, -3px, 0);
	}
}

@keyframes moveSquare2 {

	0%,
	100% {
		transform: translate3d(0, 0, 0);
	}

	50% {
		transform: translate3d(3px, -3px, 0);
	}
}

@keyframes moveSquare3 {

	0%,
	100% {
		transform: translate3d(0, 0, 0);
	}

	50% {
		transform: translate3d(-3px, 3px, 0);
	}
}

@keyframes moveSquare4 {

	0%,
	100% {
		transform: translate3d(0, 0, 0);
	}

	50% {
		transform: translate3d(3px, 3px, 0);
	}
}