.v--modal-overlay {
	@include mq("sm", min) {
		padding-top: $space;
		padding-bottom: $space;
	}
	&.scrollable {
		.v--modal-box {
			margin-bottom: 0 !important;
		}
	}

	@include mq("sm") {
		min-height: 100vh;

		.v--modal,
		.card {
			min-height: 100vh;
		}
	}
}

.v--modal {
	@include rounded(0.5rem !important);
	background-color: transparent !important;

	.card {
		@include flex;
		@include flex-direction;

		.card-content {
			flex-grow: 1;
		}
	}

	@include mq("sm") {
		@include rounded(0 !important);
		background-color: $color-white !important;

		.card { 
			.card-header, .card-footer {
				@include rounded(0 !important);
			}
		}
	}
}

.v--modal_type_confirm {

	.card-header {
		padding: 2 * $space;
	}

	.v--modal-background-click {
		pointer-events: none;

		.v--modal {
			pointer-events: all;
		}
	}

	@include mq("sm") {

		.v--modal {
			padding: 2/3 * $space;
			min-height: 1px;
		}
		
		.card {
			min-height: 1px;
		}
	}
}

.modal_type_media {
	position: fixed;
	box-sizing: border-box;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	overflow-y: scroll;

	.modal-background {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.2);
	}

	.modal {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 70px;
		padding-bottom: 70px;

		.button-close {
			position: absolute;

			top: 30px;
			right: -40px;
			cursor: pointer;
		}

		&.modal_type_image {
			max-width: 500px;
			top: 0;
		}

		img {
			position: relative;
		}

		&.modal_type_video {
			top: 50%;
			transform: translate(-50%, -50%);
		}

		video {
			max-width: 70vw;
			max-height: 80vh;
		}

		@include mq("sm") {
			max-width: 90vw;
			max-height: 80vh;

			&.modal_type_image {
				width: 80vw;

				img {
					width: 100%;
				}
			}

			video {
				max-width: 90vw;
				max-height: 80vh;
			}
		}
	}
}