.notifications {
	margin-top: $space;
}

.vue-notification-template {
	&.notify-custom {
		margin: 0 10px 10px;
		padding: 5px;
		font-size: 1rem;
		color: #fff;
		background: lighten($color-secondary, 30%);
		border-left: 5px solid $color-secondary;
	
		&.warn {
			background: $color-orange;
			border-left-color: darken($color-orange, 20%);
		}
	
		&.error {
			background: $color-red;
			border-left-color: darken($color-red, 20%);
		}
	
		&.success {
			background: $color-green;
			border-left-color: darken($color-green, 20%);
		}
	}
}