/* -----------------------------------------------------------------------------

# Components - Sidebar

----------------------------------------------------------------------------- */

.no-scroll {
	overflow: hidden;
}

.nav {
	@include user-select;
	@include shadow-s;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	max-width: 80px;

	a:not(.logo) {
		@include transition-none;
		display: inline-block;
		width: 100%;

		span {
			display: inline-block;
			vertical-align: top;
			margin-top: 5px;
		}

		.icon {
			display: inline-block;
			font-size: 1.57rem;
		}
	}

	nav {
		height: 100%;
		position: relative;
		-webkit-overflow-scrolling: touch;
		z-index: 3;
	}

	ul.blank {
		margin-bottom: 0;

		li {
			font-size: 1rem;
			font-weight: 400;
			@include transition;
			line-height: 1.5rem;

			&.nav-section {
				@include font-size-s-b;
				font-weight: 900;
				margin: $space (0.5 * $space) (0.25 * $space) (0.5 * $space);
				opacity: $opacity-m;
				text-transform: uppercase;

				&:first-child {
					margin-top: 0;
				}
			}

			&.nav-space {
				@include rounded(0);
				border-bottom: 1px solid $color-gray-medium;
				height: 0;
				margin: (0.75 * $space) (0.5 * $space);
			}

			&.nav-footer {
				@include rounded(0);
				bottom: 0;
				padding: 0.75 * $space;
				position: fixed;
				width: 240px;

				a {
					width: auto;
				}

				.right {
					height: 2rem;
					padding: 0;

					.icon {
						margin-right: 0;
					}
				}
			}

			a:not(.button) {
				@include flex-center;
				@include flex-direction;
				overflow: hidden;
				padding: $space;
				text-overflow: ellipsis;
				white-space: nowrap;
				line-height: 1.1;
			}
		}
	}

	.nav-content {
		margin: 0 (0.5 * $space) (1.375 * $space) (0.5 * $space);
	}

	.logo-title {
		@include user-select
		position: absolute;
		bottom: 15px;
		left: 10px;
		transform: rotate(-90deg) translate(50%, -18px);
		color: #fff;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
		white-space: nowrap;
		pointer-events: none;
		z-index: 1;

		@include mq('sm', 'max', true) {
			display: none;
		}
	}

	@include mq("lg") {
		bottom: auto;
		top: 0;
		left: 0;
		right: 0;
		max-width: 100%;
		height: 3.5rem;
		padding: 0;

		nav {
			overflow: hidden;
			padding: (0.5 * $space) (0.75 * $space);
		}

		ul.blank li {
			font-size: 1rem;
			@include transition;

			&.nav-footer {
				background: transparent !important;
				border-top: 1px solid $color-gray-medium;
				left: auto !important;
				margin: $space (0.5 * $space) (0.5 * $space) (0.5 * $space);
				padding: (1.25 * $space) 0 0 0;
				position: relative;
				width: auto;
			}
		}

		.nav-toggle {
			@include transition;
			cursor: pointer;
			display: block;
			height: 2.5rem;
			position: absolute;
			right: $space;
			text-align: center;
			top: 0.5 * $space;
			width: 1.5rem !important;

			&:before {
				@include material-icons;
				line-height: 2.5rem;
			}
		}

		&.active {
			height: 100%;

			nav {
				overflow-y: scroll;
			}

			ul.blank li {
				display: block;

				&.nav-section:first-child {
					margin-top: 0.75 * $space;
				}

				@include mq('lg', 'min') {
					&:not(.active):not(.nav-section):hover {
						background: transparent;
					}
				}
				&:not(.active):not(.nav-section):active {
					background: transparent;
				}
			}

			.nav-toggle {
				@include rotate;
			}
		}

		.logo-title {
			top: 1.2 * $space;
			bottom: auto;
			left: $space;
			transform: rotate(0deg) translate(0, 0);
		}
	}

	&.nav-main {
		background: $color-secondary;
		color: $color-white;
		left: 0;
		z-index: 100;

		a {
			color: $color-white;

			@include mq('lg', 'min') {
				&:hover {
					color: $color-white;
				}
			}
			&:active {
				color: $color-white;
			}
		}

		ul.blank li {
			&.nav-footer {
				background: darken($color-secondary, $darken);
				left: 0;
			}

			&.active {
				background: rgba($color-primary, $opacity-m);
			}

			@include mq('lg', 'min') {
				&:not(.active):not(.nav-footer):not(.nav-section):hover {
					background: $color-primary;
				}
			}
			&:not(.active):not(.nav-footer):not(.nav-section):active {
				background: $color-primary;
			}
		}

		@include mq("lg") {
			@include shadow-m;

			.nav-toggle:before {
				color: $color-white;
				content: "menu";
			}

			&.active .nav-toggle:before {
				content: "close";
			}

			ul.blank {
				margin-top: 3rem;

				li {
					a:not(.button) {
						@include rounded(0.2rem);
						@include flex-direction(row);
						@include justify-content(flex-start);
						padding: (0.5 * $space) $space;

						span {
							margin-top: 0;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}

	&.nav-secondary {
		@include linear-gradient($color-white, $color-gray-light);
		left: 80px;
		width: 100%;
		max-width: 270px;
		z-index: 10;
		padding: $space 0;

		.nav-secondary__img {
			text-align: center;
			margin-top: 2.7 * $space;
			margin-bottom: 4 * $space;
			padding-left: 4/3 * $space;
			padding-right: 4/3 * $space;
		}

		nav {
			margin-top: 20px;
			max-height: calc(100% - 3.5rem - #{2 * $space});
			overflow-y: auto;

			@include mq('md') {
				height: auto;
				max-height: calc(100% - 2.5rem - #{2 * $space});
			}
		}

		ul.blank li {
			font-size: .875rem;

			&.active {
				background: $color-gray-medium;
				display: block;
			}

			&.disabled {
				opacity: $opacity-m;
				pointer-events: none;
			}

			&.hidden {
				display: none;
			}

			&.nav-footer {
				background: $color-white;
				left: 240px;
			}

			&.new {
				font-weight: 900;
			}

			a:not(.button) {
				padding-left: 55px;
				display: block;
				text-align: left;
			}

			@include mq('lg', min) {
				&:not(.active):not(.nav-footer):not(.nav-section):hover {
					background: $color-gray-medium;
				}
			}
			&:not(.active):not(.nav-footer):not(.nav-section):active {
				background: $color-gray-medium;
			}

			.profile {
				border: 1px solid $color-gray-medium;
				height: 1.5rem;
				margin-right: 0.5 * $space;
				width: 1.5rem;
			}
		}

		.nav-toggle,
		.nav-close {
			display: none;
		}

		@include mq('lg') {
			top: 3.5rem;
			left: 0;
			bottom: 0;
			height: auto;
		}

		@include mq("md") {
			@include rounded;
			background: $color-white;
			cursor: pointer;
			left: -100%;
			width: auto;
			max-width: 100%;
			overflow: inherit;
      @include transition;

			&.opened {
				left: 0;
			}

			nav {
				overflow-x: auto; 
				padding: 0.75 * $space;
			}

			ul.blank li {
				&.opened {
					background: transparent;
					font-weight: 700;
				}

				@include mq('lg', 'min') {
					&:not(.opened):not(.nav-section):hover {
						background: transparent;
					}
				}
				&:not(.opened):not(.nav-section):active {
					background: transparent;
				}
			}

			.nav-toggle {
				position: absolute;
				left: auto;
				right: -40px;
				width: 2.5rem !important;
				height: 2.5rem;
				padding: 0;
				top: $space;
				z-index: 10;
				border: 1px solid rgba(0, 0, 0, 0.1);
				border-left: none;
				background-color: $color-white;
				display: inline-block;

				&::before {
					content: "keyboard_arrow_right";
					line-height: 2.5rem;
				}
			}

			&.opened {
				.nav-toggle {
					right: 0;
					border: 1px solid rgba(0, 0, 0, 0.1);

					&::before {
					content: "close";
				}
				}
			}
		}
	}
}