.tabs-inline {
	@include flex;
	@include align-items;
	@include shadow-s(0, 1px, 0, #ececee);
	@include rounded(.5rem);
	background-color: $color-gray-light;
	padding: 0 .5rem;

	.tabs {
		@include flex;
		@include align-items;
		margin: 0;

		li {
			@include user-select;
			padding: 0;

			a {
				display: inline-block;
				font-size: 1rem;
				font-weight: 700;
				color: $color-text;
				padding: (.85 * $space) (2 * $space);
				opacity: 0.4;
				border-bottom: 2px solid transparent;
				@include transition;

				&:hover {
					border-bottom-color: $color-primary;
				}
			}

			&.active {
				a {
					opacity: 1;
					border-bottom-color: $color-primary;
				}
			}
		}
	}
}