<template>
  <div class="card-header">
    <slot />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.card-header {
	@include rounded-top(0.5rem);
	background: $color-gray-light;
	border-bottom: 1px solid $color-gray-medium;
	padding: 0.75 * $space;
	padding-left: $space;

	a {
		display: block;
		height: 2rem;
		line-height: 2rem;
	}

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6,
	p {
		line-height: 1.3rem;
	}

	input,
	select {
		background: $color-white !important;
	}

	ul {
		margin: 0;
	}

	&-tabs {
		overflow: auto;
		padding-bottom: 0;

		ul {
			margin-bottom: 0;
			white-space: nowrap;

			li {
				@include transition;
				border-bottom: 3px solid transparent;

				a {
					font-weight: 700;
					height: 2.5625rem;
					opacity: $opacity-m;

					&:hover {
						opacity: $opacity-m;
					}
				}

				&.active {
					border-bottom: 3px solid $color-primary;

					a {
						opacity: 1;
					}
				}

				&:hover:not(.active) {
					border-bottom: 3px solid rgba($color-text, $opacity-m);
				}
			}
		}
	}
}

.dark {
	background: $color-text;
	color: $color-white;

	.card-header {
		background: lighten($color-text, $lighten);
	}
}
</style>
