<template>
  <div class="card-footer">
    <slot />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.card-footer {
	@include rounded-bottom(0.5rem);
	background: $color-gray-light;
	border-top: 1px solid $color-gray-medium;
	padding: 0.75 * $space;
}

.dark {
	background: $color-text;
	color: $color-white;

	.card-footer {
		background: lighten($color-text, $lighten);
	}
}
</style>
