<template>
  <div class="card-content">
    <slot />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.card-content {
	padding: 2*$space;

	@include mq("sm") {
		padding: 1.5 * $space;
	}
}
</style>
