<template>
  <div class="card">
    <slot />
  </div>
</template>

<script>

export default {

}
</script>

<style lang="scss" scoped>
.card {
  @include rounded(0.5rem);
  @include shadow-s;
  background: $color-white;
  height: 100%;
  overflow: hidden;
  position: relative;

  &.card-light {
    @include shadow-none;
    background: $color-gray-light;
  }
}
</style>
