<template>
  <bp-form-group
    :errors="errors">
    <input 
      :id="name"
      v-bind="$attrs"
      type="checkbox"
      :name="name"
      :value="value"
      :checked="shouldBeChecked"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
      @change="updateInput">
    <label
      :for="name"
      class="checkbox"
      v-html="label" />
  </bp-form-group>
</template>

<script>
export default {
	model: {
    prop: 'checked',
    event: 'change'
  },
	props: {
		name: {
			type: String,
			required: true
		},
		errors: {
			type: Array,
			default: () => [],
		},
		label: {
			type: String,
			required: true
		},
		checked: {
			default: false
		},
		value: {
			default: null,
		}
	},
	computed: {
		shouldBeChecked() {
			if (this.checked instanceof Array) {
				return this.checked.includes(this.value);
			}
			return this.checked;
		}
	},
	methods: {
		updateInput(event) {
			let isChecked = event.target.checked;
			
			if (this.checked instanceof Array) {
				let newValue = [...this.checked];

				if (isChecked) {
					newValue.push(this.value);
				} else {
					newValue.splice(newValue.indexOf(this.value), 1);
				}

				this.$emit('change', newValue);
			} else {
				this.$emit('change', isChecked);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
label {
  @include font-size-default;
  cursor: pointer;
  display: block;
  line-height: 1.5rem;
  margin-bottom: 0.5 * $space;
  padding-left: 2rem;
  position: relative;
  width: fit-content;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:before {
		@include transition;
		@include rounded;
    background: $color-gray-medium;
    content: "";
    height: 1.5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.5rem;

    .dark & {
      background: $color-white;
    }
  }

  &:after {
    @include material-icons;
    color: transparent;
    content: "check";
    font-size: 1.25rem;
    height: 1.5rem;
    left: 0;
    line-height: 1.5rem;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:not(.checkbox):not(.switch) {
    @include flex;
    @include align-items;
    @include justify-content(space-between);
    margin-bottom: 0.5 * $space;
  }

  & > span {
    display: inline;
    color: $color-secondary-text;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: auto;
  }
}

input[type="checkbox"] {
  display: none;

  &:checked + label.checkbox:before {
    background: $color-primary;
    color: transparent;
  }

  &:checked + label.checkbox:after {
    color: $color-white;
  }
}
</style>
