<template>
  <bp-form-group
    :errors="errors">
    <span
      v-if="label"
      v-html="label" />
    <input 
      :id="name"
      v-bind="$attrs"
      type="checkbox"
      :name="name"
      :value="value"
      :checked="shouldBeChecked"
      class="switch"
      @change="updateInput"
      @blur="$emit('blur')"
      @focus="$emit('focus')">
    <label
      :for="name"
      class="switch" />
  </bp-form-group>
</template>

<script>
export default {
	model: {
    prop: 'checked',
    event: 'change'
  },
	props: {
		name: {
			type: String,
			required: true
		},
		label: {
			type: String,
			required: false
		},
		errors: {
			type: Array,
			default: () => [],
		},
		checked: {
			default: false
		},
		value: {
			default: null,
		}
	},
	computed: {
		shouldBeChecked() {
			if (this.checked instanceof Array) {
				return this.checked.includes(this.value);
			}
			return this.checked;
		}
	},
	methods: {
		updateInput(event) {
			let isChecked = event.target.checked;
			
			if (this.checked instanceof Array) {
				let newValue = [...this.checked];

				if (isChecked) {
					newValue.push(this.value);
				} else {
					newValue.splice(newValue.indexOf(this.value), 1);
				}

				this.$emit('change', newValue);
			} else {
				this.$emit('change', isChecked);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
label {
	@include font-size-default-b;
	cursor: pointer;
  display: block;
  height: 32px;
  width: fit-content;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:before {
    @include rounded(16px);
    @include transition;
    background: $color-gray-medium;
    content: "";
    display: block;
    height: 32px;
    width: 56px;

    .dark & {
      background: rgba($color-white, $opacity-l);
    }
  }

  &:after {
    @include rounded(14px);
    @include transition;
    background: $color-white;
    content: "";
    display: block;
    height: 28px;
    left: 2px;
    position: relative;
    top: -30px;
    width: 28px;
  }

  &:not(.checkbox):not(.switch) {
    @include flex;
    @include align-items;
    @include justify-content(space-between);
    margin-bottom: 0.5 * $space;
  }

  & > span {
    display: inline;
    color: $color-secondary-text;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: auto;
  }
}

input[type="checkbox"] {
  display: none;

  &:checked + label.checkbox:before {
    background: $color-primary;
    color: transparent;
  }

  &:checked + label.checkbox:after {
    color: $color-white;
	}
	
	&.switch {
		display: none;

		&:checked + label.switch:before {
			background: $color-primary;
		}

		&:checked + label.switch:after {
			left: 26px;
		}
	}
}
</style>
