<template>
  <bp-form-group
    :errors="errors">
    <div 
      v-for="(item, index) in items" 
      :key="index"
      :class="['mt-m', elementClass]">
      <input 
        :id="name + '-' + index"
        v-model="model"
        v-bind="$attrs"
        type="radio"
        :name="name"
        :value="index"
        :checked="model == index"
        @focus="$emit('focus')"
        @blur="$emit('blur')">
      <label
        :for="name + '-' + index"
        class="radio"
        v-html="item" />
    </div>
  </bp-form-group>
</template>

<script>
export default {
	model: {
    prop: 'value',
    event: 'change'
  },
	props: {
		name: {
			type: String,
			required: true
		},
		errors: {
			type: Array,
			default: () => [],
		},
		items: {
			type: [Array, Object],
			required: true
		},
		value: {
			type: String,
		},
		elementClass: String,
		checkFirst: Boolean,
	},
	computed: {
		model: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit('change', ''+value);
			},
		}
	},
	created() {
		if( this.checkFirst ) {
			const keys = Object.keys(this.items);
			this.model = keys[0];
		}
	}
}
</script>

<style lang="scss" scoped>
label {
  @include font-size-default;
  cursor: pointer;
  display: block;
  line-height: 1.5rem;
  margin-bottom: 0.5 * $space;
  padding-left: 2rem;
  position: relative;
  width: fit-content;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:before {
		@include transition;
		@include rounded(0.75rem);
    background: $color-gray-medium;
    content: "";
    height: 1.5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.5rem;

    .dark & {
      background: $color-white;
    }
  }

  &:after {
    @include material-icons;
    color: transparent;
    content: "check";
    font-size: 1.25rem;
    height: 1.5rem;
    left: 0;
    line-height: 1.5rem;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:not(.radio):not(.switch) {
    @include flex;
    @include align-items;
    @include justify-content(space-between);
    margin-bottom: 0.5 * $space;
  }

  & > span {
    display: inline;
    color: $color-secondary-text;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: auto;
  }
}

input[type="radio"] {
  display: none;

  &:checked + label.radio:before {
    background: $color-primary;
    color: transparent;
  }

  &:checked + label.radio:after {
    color: $color-white;
  }
}
</style>
