<template>
  <xar-form-group :errors="errors">
    <div
      class="card-input-img"
      :style="{'padding-top': height}">
      <i 
        :disabled="!disabled"
        :class="[
          'card-input-img__icon',
          'material-icons',
          {
            'card-input-img_size_sm': iconSize == 'sm',
            'card-input-img__icon-remove': (hasRemove && (value.url || value.id))
          }
        ]"
        @click="removeImg"
        v-text="(hasRemove && (value.url || value.id)) ? 'clear' : 'add'" />
      <i
        v-if="!(value.url || background)"
        class="card-input-img__placeholder material-icons">crop_original</i>
      <img 
        v-if="value.url || background"
        :src="value.url || background" 
        :class="['card-input-img__image', {'card-input-img__image_size_cover': cover}]">
      <input 
        :disabled="disabled"
        type="file" 
        :name="name"
        :accept="accept"
        @change="fileChangeHandler">
      <p
        class="card-input__subtitle"
        v-html="subtitle" />
    </div>
    <div class="form__localErrors">
      <div
        v-for="(error, i) in localErrors"
        :key="i"
        class="form__error">
        {{ error }}
      </div>
    </div>
  </xar-form-group>
</template>

<script>
export default {
	model: {
		event: 'change',
	},
	props: {
		name: {
			type: String,
			required: true
		},
		errors: {
			type: Array,
			default: () => [],
		},
		accept: {
			type: String,
			default: 'image/*'
		},
		height: {
			type: String,
			default: '100%'
		},
		cover: {
			type: Boolean,
			default: false
		},
		minSize: {
			type: Object,
			default: () => { return {width: 0, height: 0} }
		},
		maxSize: {
			type: Object,
			default: () => { return {width: 0, height: 0} }
		},
		maxFileSize: {		// размер файла в Кб
			type: Number,
			default: -1,
		},
		value: {
			type: Object,
			default: null
		},
		background: {
			type: String
		},
		subtitle: String,
		iconSize: String,
		hasRemove: {
			type: Boolean,
			default: false,
		},
		disabled: Boolean,
	},
	data() {
		return {
			localErrors: []
		}
	},
	methods: {
		fileChangeHandler(e) {
			const file = e.target.files[0];

			if( this.maxFileSize > 0 ) {
				if( !((file.size / 1024) < this.maxFileSize) ) {
					this.localErrors.push(`Size must no more than ${this.maxFileSize}Kb`);
					return;
				}
			}

			if( file ) {
				let reader = new FileReader();
				reader.onloadend = () => {
					const image  = new Image();
					image.onload = () => {
						this.localErrors = [];

						if( image.width < this.minSize.width )
							this.localErrors.push(`Width must be at least ${this.minSize.width}px`);

						if( image.height < this.minSize.height )
							this.localErrors.push(`Height must be at least ${this.minSize.height}px`);

						if( !!this.maxSize.width && image.width > this.maxSize.width )
							this.localErrors.push(`Width must no more than ${this.maxSize.width}px`);

						if( this.maxSize.height && image.height < this.minSize.height )
							this.localErrors.push(`Height must no more than ${this.maxSize.height}px`);

						if( !this.localErrors.length ) {
							this.$emit('change', { id: null, file, url: image.src });
						} else {
							this.$emit('change', { id: null, file, url: '' });
						}
					}
					image.src = reader.result;
				}
				reader.readAsDataURL(file);
			} 
		},
		removeImg() {
			this.$emit('remove');
		},
	}
}
</script>

<style lang="scss" scoped>
.card-input-img {
  background-color: $color-gray-light;
  @include rounded(.75rem);
  position: relative;
  overflow: hidden;
  padding-top: 100%;

  .card-input-img__icon {
    position: absolute;
    top: 25px;
    right: 25px;
    @include flex-center;
    @include rounded(50%);
    @include shadow-s(0, 5px, 5px, rgba(0, 0, 0, 0.11));
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border: none;
    z-index: 1;
    font-size: 1.125rem;
    line-height: 1;
    padding: 0 !important;
    color: $color-secondary-text;
    margin: 0;
    @include user-select;
    pointer-events: none;

    &.card-input-img_size_sm {
      top: 2/3 * $space;
      right: 2/3 * $space;
      width: 1.4rem;
      height: 1.4rem;
      font-size: 1rem;
    }

    &.card-input-img__icon-remove {
      background-color: $color-red;
      color: $color-white;
      pointer-events: auto;
      cursor: pointer;
    }
  }

  .card-input-img__placeholder {
    width: 80px;
    height: 80px;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-secondary-text;
    @include user-select;
  }

  input {
    outline: none;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card-input-img__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;

    &.card-input-img__image_size_cover {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }

  .card-input__subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: $color-secondary-text;
    padding: (2/3 * $space) $space;
  }
}
</style>
