<template>
  <bp-form-group :errors="errors">
    <label 
      v-if="label" 
      :for="name" 
      :class="{'full-width': fullWidth}"
      v-html="label" />
    <div :class="['select-wrapper', {'select_size_l': size=='l', 'full-width': fullWidth}]">
      <select 
        :id="name" 
        v-model="selectedOption" 
        :name="name"
        :class="{'full-width': fullWidth}"
        @focus="$emit('focus')"
        @blur="$emit('blur')"
        @input="event => { $emit('input', event.target.value) }">
        <option 
          v-for="(option, o) in items"
          :key="fields ? option[fields.key] : o"
          :selected="(fields ? option[fields.key] : o) === value"
          :value="fields ? option[fields.key] : o">
          {{ fields ? option[fields.value] : option }}
        </option>
      </select>
    </div>
  </bp-form-group>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			required: true
		},
		label: String,
		errors: {
			type: Array,
			default: () => [],
		},
		placeholder: String,
		items: { 
			required: true
		},
		value: {
			required: true
		},
		fullWidth: Boolean,
		size: String,
		fields: Object,
	},
	data () {
		return {
			selectedOption: null
		}
	},

	watch: {
		value: {
			handler(newValue) {
				this.selectedOption = newValue;
			}
		}
	},
	created () {
		this.selectedOption = this.value
	}
}
</script>

<style lang="scss" scoped>
label {
  @include font-size-default-b;

  &:not(.checkbox):not(.radio):not(.switch) {
    @include flex;
    @include align-items;
    @include justify-content(space-between);
    margin-bottom: 0.5 * $space;
  }

  & > span {
    display: inline;
    color: $color-secondary-text;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: auto;
  }
}

.select-wrapper {
  height: 2.5rem;
  max-width: 400px;
  position: relative;

  &:before {
    @include material-icons;
    color: $color-text;
    content: "keyboard_arrow_down";
    height: 2.5rem;
    line-height: 2.5rem;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.5rem;
    color: $color-secondary-text;
  }

  select {
		@include appearance;
		@include font-size-default;
		@include rounded;
    font-weight: inherit;
    cursor: pointer;
		padding: 0.25rem 1.5rem 0.25rem 0.75rem; 
		background: $color-gray-light;
		border: 1px solid $color-gray-medium;
		color: $color-text;
		line-height: 1.875rem;
		padding: 0.25rem 0.75rem;
		width: 100%;
		height: 2.5rem;
		max-width: 400px;

		&.size-sm {
			font-size: 0.875rem;
			height: 2rem;
			line-height: 1.375rem;
		}

		.muted & {
			color: inherit;
		}

		&:focus {
			outline: none;
		}

		&:focus:not(select) {
			border: 1px solid darken($color-gray-medium, $darken);
		}

    &::-ms-expand {
      display: none;
    }
  }

  &.select_size_l {
    @include shadow-s;
    height: 3.5rem;

    select {
      height: 100%;
      background-color: transparent;
    }

    &:before {
      height: 3.5rem;
      line-height: 3.5rem;
      width: 3.5rem;
    }

    @include mq("lg") {
      height: 2.5rem;
      
      &:before {
        height: 2.5rem;
        line-height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}
</style>
