<template>
  <button 
    v-bind="$attrs" 
    :class="['button', btnSize, btnColor]"
    @click="$emit('click', $event)">
    <slot />
  </button>
</template>

<script>
export default {
	props: {
		size: String,
		color: String,
	},
	computed: {
		btnSize() {
      let size = '';

			switch(this.size) {
				case 's':		size = 'button_size_s'; break;
				case 'm':		size = 'button_size_m'; break;
				case 'l':		size = 'button_size_l'; break;
				case 'xl':	size = 'button_size_xl';
      }

      return size;
		},
		btnColor() {
      let color = '';

			switch(this.color) {
				case 'secondary':		color = 'button_color_secondary'; break;
				case 'transparent':	color = 'button_color_transparent'; break;
				case 'red':					color = 'button_color_red'; break;
				case 'green':				color = 'button_color_green'; break;
				case 'white':				color = 'button_color_white'; break;
				default: 						color = 'button_color_primary';
      }

      return color;
		}
	}
}
</script>

<style lang="scss" scoped>
.button {
  @include font-size-default-b;
  @include rounded;
  @include transition;
  @include user-select;
  @include flex-center;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.25rem;
  text-align: center;
  border: none;
  position: relative;
  outline: none;
  overflow: hidden;

  &:disabled,
  &.button_disabled {
    background: $color-gray-dark !important;
    color: $color-text !important;
    cursor: default !important;
    opacity: $opacity-m;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    content: "";
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    @include transition;
  }

  &.button_size_s {
    @include font-size-s-b;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.75rem;

    .icon {
      font-size: 1rem;
      height: 2rem;
      line-height: 2rem;
      margin: 0 0 0 -0.25rem;
      width: 1rem;
    }
  }

  &.button_size_m {
    @include font-size-m-b;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;

    .icon {
      height: 2.5rem;
      line-height: 2.5rem;
      margin: 0 -0.5rem;
      width: 1.5rem;
    }
  }

  &.button_size_l {
    @include font-size-l-b;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.5rem;

    .icon {
      height: 3.5rem;
      line-height: 3.5rem;
      margin: 0 0 0 -0.5rem;
      width: 1.5rem;
    }
  }

  &.button_size_xl {
    @include font-size-xl-b;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.625rem;

    .icon {
      height: 4rem;
      line-height: 4rem;
      margin: 0 0.55rem 0 -0.625rem;
      width: 1.625rem;
    }
  }

  &.button_color_primary {
    @include linear-gradient-diagonal($color-primary, darken($color-primary, $darken));
    @include shadow-s;
    color: $color-white;

    @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
      &:not(:disabled):hover,
      &:not(.button_disabled):hover {
        @include linear-gradient-diagonal($color-primary, $color-primary);
        @include shadow-m;
      }
    }

    &:not(:disabled):active,
    &:not(.button_disabled):active {
      @include linear-gradient-diagonal($color-primary, $color-primary);
      @include shadow-m;
    }
  }

  &.button_color_secondary {
    background: $color-gray-medium;
    color: $color-text;

    @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
      &:not(:disabled):hover,
      &:not(.button_disabled):hover {
        background: rgba($color-text, $opacity-l);
      }
    }

    &:not(:disabled):active,
    &:not(.button_disabled):active {
      background: rgba($color-text, $opacity-l);
    }

    .dark & {
      background: rgba($color-white, $opacity-l);
      color: $color-white;

      @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
        &:not(:disabled):hover,
        &:not(.button_disabled):hover {
          background: rgba($color-white, $opacity-m);
        }
      }

      &:not(:disabled):active,
      &:not(.button_disabled):active {
        background: rgba($color-white, $opacity-m);
      }
    }
  }

  &.button_color_transparent {
    background-color: transparent;
    color: $color-secondary-text;
  }

  &.button_color_red {
    @include shadow-s;
    background: $color-red;
    color: $color-white;

    @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
      &:not(:disabled):hover,
      &:not(.button_disabled):hover {
        @include shadow-m;
      }
    }

    &:not(:disabled):active,
    &:not(.button_disabled):active {
      @include shadow-m;
    }
  }

  &.button_color_green {
    @include shadow-s;
    background: $color-green;
    color: $color-white;

    @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
      &:not(:disabled):hover,
      &:not(.button_disabled):hover {
        @include shadow-m;
      }
    }

    &:not(:disabled):active,
    &:not(.button_disabled):active {
      @include shadow-m;
    }
  }

  &.button_color_white {
    background: white;
    color: $color-secondary-text;
    @include shadow-s;
  }

  &.button-link {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 3px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid $color-text;

    @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
      &:not(:disabled):hover,
      &:not(.button_disabled):hover {
        background: transparent;
        box-shadow: none;
        border-bottom-color: transparent;
      }
    }

    &:not(:disabled):active,
    &:not(.button_disabled):active {
      background: transparent;
      box-shadow: none;
      border-bottom-color: transparent;
    }
  }

  &:active {
    &::after {
      opacity: 0.32;
      transform: translate(-50%, -50%) scale(0);
      @include transition-none;
    }
  }

  &.button_rounded_m {
    @include rounded(0.5rem);
  }

  .icon {
    height: 3rem;
    line-height: 3rem;
    margin: 0 0 0 -0.5rem;
    width: 1.5rem;
  }
}

.group-buttons {
  margin: -$space / 2;

  .button {
    margin: $space / 2;
  }

  &.group-buttons_size_s {
    margin: -$space / 3;

    .button {
      margin: $space / 3;
    }
  }
}
</style>
