<template>
	<bp-form-group 
		:name="name" 
		:errors="errors"
		:class="{'full-width': fullWidth}">
		<label 
			:for="name" 
			v-if="label" 
			v-html="label"
			:class="{'full-width': fullWidth}"
		>
		</label>
		<textarea 
			v-bind="$attrs"
			:id="name" 
			:name="name"
			:row="row"
			:placeholder="placeholder"
			:readonly="readonly"
			:class="{'full-width': fullWidth}"
			v-model="model"
			@blur="$emit('blur')"
			@focus="$emit('focus')"
		>
		</textarea>
	</bp-form-group>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			required: true
		},
		errors: {
			type: Array,
			default: () => [],
		},
		label: String,
		placeholder: String,
		value: { 
			required: false
		},
		readonly: {
			type: Boolean,
			default: false
		},
		row: {
			type: Number,
			default: 3
		},
		fullWidth: Boolean,
	},
	computed: {
		model: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
}
</script>

<style lang="scss" scoped>
label {
  @include font-size-default-b;
	@include flex;
	@include align-items;
	@include justify-content(space-between);
	margin-bottom: 0.5 * $space;

  & > span {
    display: inline;
    color: $color-secondary-text;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: auto;
  }
}

textarea {
  @include appearance;
  @include font-size-default;
  @include rounded;
  background: $color-gray-light;
  border: 1px solid $color-gray-medium;
  color: $color-text;
  line-height: 1.875rem;
  padding: 0.25rem 0.75rem;
	width: 100%;
	min-height: 6.25rem;

  .muted & {
    color: inherit;
  }

  &:focus {
    outline: none;
  }

  &:focus:not(select) {
    border: 1px solid darken($color-gray-medium, $darken);
  }
}
</style>
