<template>
  <bp-form-group 
    :name="name" 
    :errors="errors"
    :class="{ 'full-width': fullWidth, 'form-group_errors': errors.length, 'form-group_disabled': disabled }">
    <label 
      v-if="label" 
      :for="name" 
      :class="{'full-width': fullWidth}"
      v-html="label" />
    <div class="input-field">
      <input 
        :id="name"
        :ref="name" 
        v-model="model"
        v-bind="$attrs"
        :name="name"
        :type="type"
        :placeholder="placeholder"
        :readonly="readonly"
				:disabled="disabled"
        :class="{'full-width': fullWidth, classSize}"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
			/>
    </div>
    <div
      v-if="description"
      class="text-field_description"
      v-html="description" 
		></div>
  </bp-form-group>
</template>

<script>
import Inputmask from 'inputmask';

export default {
	props: {
		name: {
			type: String,
			required: true
		},
		type: {
			type: String,
			default: 'text'
		},
		errors: {
			type: Array,
			default: () => [],
		},
		label: String,
		description: String,
		placeholder: String,
		value: { 
			required: false
		},
		readonly: {
			type: Boolean,
			default: false
		},
		fullWidth: Boolean,
		maskPattern: String,
		size: String,
		disabled: Boolean,
		mask: {
			type: [String, Object]
		},
	},
	data() {
		return {
			maskType: {
				currency: {
					alias: 'currency',
					rightAlign: false,
					step: 0.01,
					autoUnmask: true,
					min: undefined,
					max: undefined,
					placeholder: '0.00'
				},
				percent: {
					alias: 'percentage',
					rightAlign: false,
					step: 0.01,
					radixPoint: ".",
					digitsOptional: false,
					digits: 2,
					autoUnmask: true,
					min: undefined,
					max: undefined,
					placeholder: '0.00'
				},
				tel: {
					mask: '+9 (999) 999 9999',
					autoUnmask: true,
					placeholder: '_'
				}
			}
		}
	},
	computed: {
		classSize() {
			switch (this.size) {
				case 'sm':
					return 'size-sm';
				default:
					return 'size-md';
			}
		},
		model: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
	watch: {
		'mask.dependenceMask': {
			handler() {
				if( this.$refs[this.name].inputmask ) {
					this.$refs[this.name].inputmask.remove();
					this.initMask();
				}
			}
		}
	},
	mounted() {
		this.initMask();
	},
	methods: {
		initMask() {
			if( typeof this.mask === 'object' && Object.keys(this.mask).length ) {
				let maskParams;

				if( this.mask.type ) {
					maskParams = {
						...this.maskType[this.mask.type],
						...this.mask,
					}
				} else {
					maskParams = this.mask;
				}

				Inputmask({ 
					placeholder: '',
					...maskParams,
				}).mask(this.$refs[this.name]);
			}
		}
	},
}
</script>

<style lang="scss" scoped>
label {
  @include font-size-default-b;

  &:not(.checkbox):not(.radio):not(.switch) {
    @include flex;
    @include align-items;
    @include justify-content(space-between);
    margin-bottom: 0.5 * $space;
  }

  & > span {
    display: inline;
    color: $color-secondary-text;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: auto;
  }
}

.text-field_description {
  display: inline-block;
  color: $color-secondary-text;
  margin-top: .60rem !important;
  font-size: 0.85rem;
  line-height: 1.3;
}

.input-field {
  position: relative;
}

input {
  @include appearance;
  @include font-size-default;
  @include rounded;
  background: $color-gray-light;
  border: 1px solid $color-gray-medium;
  color: $color-text;
  line-height: 1.875rem;
  padding: 0.25rem 0.75rem;
	width: 100%;
	height: 2.5rem;
  max-width: 400px;

  &.size-sm {
    font-size: 0.875rem;
    height: 2rem;
    line-height: 1.375rem;
  }

  .muted & {
    color: inherit;
  }

  &:focus {
    outline: none;
  }
}

.form-group_errors input {
	border-color: $color-red;
}

input:disabled {
	@include user-select;
	cursor: not-allowed;
	color: $color-secondary-text;
}
</style>