<template>
  <form
    novalidate
    @submit.prevent="$emit('submit', $event)">
    <h6 v-if="title">
      {{ title }}
    </h6>
    <p
      v-if="description"
      class="lead">
      {{ description }}
    </p>
    <slot />
  </form>
</template>

<script>
export default {
	props: {
		title: String,
		description: String
	}
}
</script>

<style lang="scss" scoped>

</style>
