<template>
  <div :class="['form-group', {error: errors.length}]">
    <slot />
    <div
      v-if="errors.length"
      class="form__errors">
      <div
        v-for="(error, index) in errors"
        :key="index"
        class="form__error">
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
	props: {
		errors: {
			type: Array,
			default: () => [],
		},
	},
};
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: $space;
  position: relative;
}

.form__errors {
  margin-top: 10px;
}

.form__error {
  font-size: 0.75rem;
  line-height: 1.2;
  color: $color-red;
}
</style>
