<template>
  <bp-form-group
    :name="name"
    :class="{'full-width': fullWidth}">
    <div class="search-wrapper">
      <input 
        :id="name"
        v-model="model" 
        v-bind="$attrs"
        :name="name"
        type="search"
        :placeholder="placeholder"
        :class="{'full-width': fullWidth}"
        @focus="$emit('focus')"
        @blur="$emit('blur')">
    </div>
  </bp-form-group>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			required: true
		},
		placeholder: String,
		value: { 
			required: false
		},
		fullWidth: Boolean
	},
	computed: {
		model: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
}
</script>

<style lang="scss" scoped>
.search-wrapper {
  height: 3.5rem;
  position: relative;

  &:before {
    @include material-icons;
    color: $color-text;
    content: "search";
    height: 3.5rem;
    left: 0;
    line-height: 3.5rem;
    opacity: $opacity-m;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 3.5rem;
  }

  input {
		@include shadow-s;
		@include appearance;
		@include font-size-default;
		@include rounded;
    height: 3.5rem;
    border: none;
		background: $color-gray-light;
		border: 1px solid $color-gray-medium;
		color: $color-text;
		line-height: 1.875rem;
		padding: 0.25rem 0.75rem;
		width: 100%;
		max-width: 400px;

		&.size-sm {
			font-size: 0.875rem;
			height: 2rem;
			line-height: 1.375rem;
		}

		.muted & {
			color: inherit;
		}

		&:focus {
			outline: none;
		}

		&:focus:not(select) {
			border: 1px solid darken($color-gray-medium, $darken);
		}
  }

  &.size-s {
    height: 2rem;

    &:before {
      font-size: 1.125rem;
      height: 2rem;
      line-height: 2rem;
      width: 2rem;
    }

    input {
      font-size: 0.875rem;
      height: 2rem;
      line-height: 1.375rem;
      padding: 0.25rem 0.75rem 0.25rem 1.75rem;
    }
  }

  @include mq("lg") {
    height: 2.5rem;

    &:before {
      height: 2.5rem;
      line-height: 2.5rem;
      width: 2.5rem;
    }

    input {
      height: 2.5rem;
      line-height: 2.5rem;
      width: 2.5rem;
    }
  }
}
</style>
