.slide {
	&-leave-active,
	&-enter-active {
		@include transition;
	}

	&-enter, 
	&-leave-to {
		transform: translate(100%, 0);
	}
}

.fade {
	&-enter-active, 
	&-leave-active {
		@include transition(0.5s);
	}

	&-enter, 
	&-leave-to {
		opacity: 0;
	}
}