/* -----------------------------------------------------------------------------

# Base - Grid

----------------------------------------------------------------------------- */

.grid {
  @include grid;

  &.grid_col_2 {
    @include grid-template-columns;
  }

  &.grid_col_3 {
    @include grid-template-columns(repeat(3, 1fr));
  }

  &.grid_col_4 {
    @include grid-template-columns(repeat(4, 1fr));
  }

  &.grid_col_5 {
    @include grid-template-columns(repeat(5, 1fr));
  }

  &.grid_col_6 {
    @include grid-template-columns(repeat(6, 1fr));
  }

  &.grid_gap_s {
    @include grid-gap($space);
  }

  &.grid_gap_m {
    @include grid-gap(2 * $space);
  }
  
  &.grid_gap_l {
    @include grid-gap(3 * $space);
  }
  
  &.grid_gap-col_s {
    grid-column-gap: 0.66 * $space;
  }

  &.grid_gap-col_m {
    grid-column-gap: 1.66 * $space;
  }
  
  &.grid_gap-col_l {
    grid-column-gap: 2.33 * $space;
  }
  
  &.grid_gap-row_s {
    grid-row-gap: 0.66 * $space;
  }

  &.grid_gap-row_m {
    grid-row-gap: 1.66 * $space;
  }
  
  &.grid_gap-row_l {
    grid-row-gap: 2.33 * $space;
  }

  @include mq('md') {
    &.grid_md_col_1 {
      @include grid-template-columns(1fr);
    }
  }
}

.grid_col-grow_span-2 {
  grid-column: span 2;
}

.row {
  [class^="col"] {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @include mq("xs") {
    [class^="col-xs"] {
      padding: 0 0 $space 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @include mq("sm") {
    [class^="col-sm"] {
      padding: 0 0 $space 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @include mq("md") {
    [class^="col-md"] {
      padding: 0 0 $space 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @include mq("lg") {
    [class^="col-lg"] {
      padding: 0 0 $space 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @include mq("xl") {
    [class^="col-xl"] {
      padding: 0 0 $space 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}