// Animation

@mixin animation($name: none) {
  animation: $name 0.4s ease-in-out;
}

// Appearance

@mixin appearance($value: none) {
  appearance: $value;
}

// Flex

@mixin flex() {
  display: flex;
}

@mixin flex-direction($direction: column) {
  flex-direction: $direction;
}

@mixin flex-wrap($wrap: wrap) {
  flex-wrap: $wrap;
}

// Grid

@mixin grid() {
  display: grid;
}

@mixin grid-template-columns($list-variables: repeat(2, 1fr)) {
  grid-template-columns: $list-variables;
}

@mixin grid-gap($gap: 0) {
  grid-gap: $gap;
}

// Position

@mixin align-items($align: center) {
  align-items: $align;
}

@mixin justify-content($justify: center) {
  justify-content: $justify;
}

@mixin flex-center() {
  @include flex;
  @include align-items;
  @include justify-content;
}

// Font sizes

@mixin font-size-s {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

@mixin font-size-s-b {
  @include font-size-s;
  font-weight: 700;
}

@mixin font-size-m {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}

@mixin font-size-m-b {
  @include font-size-m;
  font-weight: 700;
}

@mixin font-size-default {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin font-size-default-b {
  @include font-size-default;
  font-weight: 700;
}

@mixin font-size-l {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin font-size-l-b {
  @include font-size-l;
  font-weight: 700;
}

@mixin font-size-xl {
  font-size: 1.14rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin font-size-xl-b {
  @include font-size-xl;
  font-weight: 700;
}

@mixin font-size-lead {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

@mixin font-size-paragraph {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 2rem;
}

// Linear gradient

@mixin linear-gradient($from, $to) {
  background: $to;
  background: linear-gradient($from 0%, $to 100%);
}

@mixin linear-gradient-diagonal($from, $to) {
  background: $to;
  background: linear-gradient(140deg, $from 25%, $to 100%);
}

// Material icons

@mixin material-icons {
  @include user-select;
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Rotations

@mixin rotate($degree: -90deg) {
  transform: rotate($degree);
}

// Rounded corners

@mixin rounded($radius: 0.1875rem) {
  border-radius: $radius;
}

@mixin rounded-bottom($radius: 0.1875rem) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin rounded-left($radius: 0.1875rem) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin rounded-right($radius: 0.1875rem) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin rounded-top($radius: 0.1875rem) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

// Shadows

@mixin shadow-s($x: 0, $y: 1px, $blur: 3px, $color: rgba(0,0,0,0.1)) {
  box-shadow: $x $y $blur $color;
}

@mixin shadow-m($x: 0, $y: 8px, $blur: 16px, $color: rgba(0,0,0,0.1)) {
  box-shadow: $x $y $blur $color;
}

@mixin shadow-l($x: 0, $y: 32px, $blur: 40px, $color: rgba(0,0,0,0.1)) {
  box-shadow: $x $y $blur $color;
}

@mixin shadow-none {
  box-shadow: none !important;
}

// Transformations

@mixin transform($y: -1px) {
  transform: translateY($y);
}

// Transitions

@mixin transition($duration: 0.25s) {
  transition: all $duration;
}

@mixin transition-none {
  transition: none !important;
}

// User-select

@mixin user-select {
  user-select: none;
}

// Media queries

$breakpoints_width: (
  "xs" : 0,
  "sm" : 576px,
  "md" : 768px,
  "lg" : 992px,
  "xl" : 1200px
);

$breakpoints_height: (
  "xs" : 0,
  "sm" : 576px,
  "md" : 768px,
  "lg" : 992px
);

@mixin mq($size, $type: max, $isHeight: false) {
  @if $isHeight == false {
    @if map_has_key($breakpoints_width, $size) {
      $width: map_get($breakpoints_width, $size);
      @if $type == max {
        $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
        @content;
      }
    }
  } @else {
    @if map_has_key($breakpoints_height, $size) {
      $height: map_get($breakpoints_height, $size);
      @if $type == max {
        $height: $height - 1px;
      }
      @media only screen and (#{$type}-height: $height) {
        @content;
      }
    }
  }
}