/* -----------------------------------------------------------------------------

# Base - Typography

----------------------------------------------------------------------------- */

html {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

body {
	background-color: $color-gray-light;
	color: $color-text;
	font-family: $font-sans;
	font-size: 1rem;
	line-height: 1.5rem;
	overflow-x: hidden;
	overscroll-behavior-y: none;
}

a {
	@include transition;
	color: $color-text;
	cursor: pointer;
	text-decoration: none;

	&:hover:not(.button) {
		opacity: $opacity-s;
	}
}

blockquote {
	@include font-size-paragraph;
	@include rounded;
	background: $color-gray-light;
	border-left: 3px solid $color-gray-dark;
	font-style: italic;
	margin: 0 0 $space 0;
	padding: $space;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0 0 (0.5 * $space) 0;

	&:last-child {
		margin: 0;
	}
}

h1, .h1 {
	font-size: 1.75rem;
	font-weight: 900;
	line-height: 1.5rem;

	@include mq("md") {
		font-size: 1.5rem;
	}
}

h2, .h2 {
	font-size: 1.6rem;
	font-weight: 900;
	line-height: 1.5rem;

	@include mq("md") {
		font-size: 1.3rem;
	}
}

h3, .h3 {
	font-size: 1.4rem;
	font-weight: 900;
	line-height: 1.5rem;

	@include mq("md") {
		font-size: 1.2rem;
	}
}

h4, .h4 {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.3rem;

	@include mq("md") {
		font-size: 1.2rem;
	}
}

h5, .h5 {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.3rem;

	@include mq("md") {
		font-size: 1rem;
	}
}

h6, .h6 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.3rem;
}

p {
	margin: 0 0 $space 0;

	&:last-child {
		margin: 0;
	}
}

.lead {
	@include font-size-lead;

	@include mq("sm") {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

.paragraph {
	@include font-size-paragraph;
	
	@include mq("sm") {
		font-size: 1.125rem;
		letter-spacing: normal;
		line-height: 1.75rem;
	}
}

.small {
	@include font-size-m;
	line-height: 1.5rem;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.muted {
	color: $color-secondary-text;
}

a.muted:hover {
	color: $color-primary !important;
	opacity: 1;
}

.color-primary {
	color: $color-primary;
}

.color-red {
	color: #e52b20;
}

.color-green {
	color: #63ce63;
}

.color-orange {
	color: #ffbf2f;
}

.uppercase {
	text-transform: uppercase;
}

.bold, .strong,
b, strong {
	font-weight: 700;
}

.cursor_pointer {
	cursor: pointer;
}

.page-title {
	color: $color-text;
	font-weight: 900;
	line-height: 1.3;
	margin-bottom: 4.8 * $space;;
}

.page-description {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 2.5 * $space;
}

@include mq('lg') {
	.page-title {
		margin-bottom: 3 * $space;;
	}
	
	.page-description {
		margin-bottom: 1.5 * $space;
	}
}

@include mq("md") {
	.page-title {
		margin-bottom: 2 * $space;;
	}

	.page-description {
		font-size: 1.2rem;
	}
}