// Colors

$color-white					: #fff;
$color-primary				: #575bde;
$color-secondary			: #211b4e;
$color-text						: #110f24;
$color-secondary-text	: #a09fa7;
$color-gray-light			: #f6f6f9;
$color-gray-medium		: #ececee;
$color-gray-dark			: #d8d8d8;
$color-red						: #e52b20;
$color-green					: #63ce63;
$color-orange					: #ffbf2f;

// Fonts

$font-sans  : Helvetica, sans-serif;

// Maximum widths

$max-width-xs : 0;
$max-width-sm : 576px;
$max-width-md : 768px;
$max-width-lg : 992px;
$max-width-xl : 1200px;

// Opacity

$opacity-s : 0.9;
$opacity-m : 0.4;
$opacity-l : 0.1;

// Spacing betwenn elements

$space : 15px;

// Darken and lighten colors

$darken  : 5%;
$lighten : 5%;

// Right space for roll

$right-empty-space: 340px;