.authorisation-window {
	@include flex;
	@include justify-content;
	@include align-items(flex-start);
	padding: $space/2;

	.authorisation-window-content {
		display: inline-block;
		width: 400px;
	}

	@media screen and (max-width: $max-width-sm) {
		.authorisation-window-content {
			width: 100%;
		}
	}
}