.page__search-field {
	display: grid; 
	grid-template-columns: 1fr minmax(150px, 27%);
	grid-column-gap: 40px;

	.form-group {
		margin-bottom: 0;
	}

	.select-wrapper {
		background-color: $color-gray-light;
		
		select {
			border: none;
			text-align-last:center;

			&:focus {
				border: 1px solid #dfdfe2;
			}
		}
	}
}

.header-button__back {
	color: $color-text;
	opacity: $opacity-m;
}