<template>
  <div>
    <div class="logo-wrap text-center pt-m">
      <a
        href="javascript:void(0);"
        class="logo"
        rel="home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24"
          height="24"
          viewBox="0 0 24 24">
          <path
            d="M7.335 1.023l2.462.434a1 1 0 0 1 .811 1.159L8.004 17.388a2 2 0 0 1-2.317 1.622l-3.94-.694a1 1 0 0 1-.81-1.159L3.28 3.862a3.5 3.5 0 0 1 4.054-2.839zm7.039 3.272l7.878 1.39a1 1 0 0 1 .812 1.158l-1.997 11.325a5.5 5.5 0 0 1-6.372 4.461l-4.431-.78a1 1 0 0 1-.812-1.16l2.605-14.771a2 2 0 0 1 2.317-1.623z"
            fill="currentColor" />
        </svg>
      </a>
    </div>
    <div class="authorisation-window">
      <div class="authorisation-window-content">
        <bp-card class="card-content mb-m">
          <bp-form
            :title="$t('forgotPassword.form.title')"
            :description="$t('forgotPassword.form.description')"
            @submit="resetPassword">
            <bp-text-field 
              v-model="form.email" 
              :name="'email'" 
              :type="'email'" 
              :label="$t('forgotPassword.form.email')"
              :errors="errors.email" />
            <bp-button
              :disabled="processing"
              class="full-width mt-m">
              {{ $t('forgotPassword.form.submit') }}
            </bp-button>
          </bp-form>
        </bp-card>
        <div class="center">
          <span class="muted">{{ $t('forgotPassword.signinLink.text') }} </span>
          <router-link :to="{ name: 'signin' }">
            {{ $t('forgotPassword.signinLink.link') }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
	data() {
		return {
			form: {
				email: null,
			},
			errors: {},
		}
	},
	computed: {
		...mapState({
			processing: state => state.general.processing,
		})
	},
	watch: {
		'form.email': {
			handler() {
				if ('email' in this.errors) {
          delete this.errors.email;
        }
			}
		},
	},
	created() {
		this.SET_LOADED(false);
	},
	methods: {
		...mapMutations(['SET_LOADED']),
		...mapActions(['QUERY_RECOVERY_PASSWORD']),
		resetPassword() {
			this.QUERY_RECOVERY_PASSWORD(this.form)
			.then(() => {
				this.$notify({
					type: 'success',
					title: this.$t('forgotPassword.notify.success.title'),
				});
				this.$router.push({name: 'signin'});
			})
			.catch(errors => {
				this.errors = errors.errors;
			});
		},
	},
}
</script>

<style scoped lang="scss">
	.muted + a {
		color: #4246da;
	}
</style>