<template>
  <div class="pa-m">
		<bp-card>
			<bp-card-header>
				<h4>Text fields</h4>	
			</bp-card-header>
			<bp-card-content>
				<div class="grid grid_col_3 grid_gap_s grid_md_col_1">
					<bp-text-field
						:name="'text-field-default'"
						:label="'Default text field'"
						:full-width="true"
						v-model="textFields.defaultTextField"
					/>
					<bp-text-field
						:name="'text-field-error'"
						:label="'Default text field'"
						:full-width="true"
						v-model="textFields.errorTextField"
						:errors="['Text error']"
					/>
					<bp-text-field
						:name="'text-field-disabled'"
						:label="'Default text field'"
						:full-width="true"
						v-model="textFields.disabledTextField"
						:disabled="true"
					/>
				</div>
			</bp-card-content>
		</bp-card>

	</div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
	data() {
		return {
			textFields: {
				defaultTextField: 'Default text',
				errorTextField: 'Text with errors',
				disabledTextField: 'Disabled text',
			}
		}
	},
	created() {
		this.SET_LOADED(false);
	},
	methods: {
		...mapMutations(['SET_LOADED']),
	}
}
</script>

<style scoped lang="scss">

</style>