<template>
  <div>
    <div class="logo-wrap text-center pt-m">
      <a
        href="javascript:void(0);"
        class="logo"
        rel="home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24"
          height="24"
          viewBox="0 0 24 24">
          <path
            d="M7.335 1.023l2.462.434a1 1 0 0 1 .811 1.159L8.004 17.388a2 2 0 0 1-2.317 1.622l-3.94-.694a1 1 0 0 1-.81-1.159L3.28 3.862a3.5 3.5 0 0 1 4.054-2.839zm7.039 3.272l7.878 1.39a1 1 0 0 1 .812 1.158l-1.997 11.325a5.5 5.5 0 0 1-6.372 4.461l-4.431-.78a1 1 0 0 1-.812-1.16l2.605-14.771a2 2 0 0 1 2.317-1.623z"
            fill="currentColor" />
        </svg>
      </a>
    </div>
    <div class="authorisation-window">
      <div class="authorisation-window-content">
        <bp-card class="card-content mb-m">
          <bp-form
            :title="$t('signin.form.title')"
            :description="$t('signin.form.description')"
            @submit="submitSignin">
            <bp-text-field 
              v-model="form.email" 
              :name="'email'" 
              :type="'email'" 
              :label="$t('signin.form.email')"
              :errors="errors.email" />
            <bp-text-field 
              v-model="form.password" 
              :name="'password'" 
              :type="'password'" 
              :label="$t('signin.form.password')"
              :errors="errors.password" />
            <bp-checkbox
              v-model="form.rememberMe"
              :name="'rememberMe'"
              :label="$t('signin.form.rememberMe')" />
            <bp-button
              class="full-width mt-m"
              :disabled="processing">
              {{ $t('signin.form.submit') }}
            </bp-button>
          </bp-form>
        </bp-card>
        <div class="center">
          <span class="muted">{{ $t('signin.signupLink.text') }} </span>
          <router-link :to="{ name: 'signup' }">
            {{ $t('signin.signupLink.link') }}
          </router-link>
          <br>
          <span class="muted">{{ $t('signin.recoveryLink.text') }} </span>
          <router-link :to="{ name: 'forgotPassword' }">
            {{ $t('signin.recoveryLink.link') }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
	data() {
		return {
			form: {
				email: null,
				password: null,
				rememberMe: false
			},
			errors: {},
		}
	},
	computed: {
		...mapState({
			processing: state => state.general.processing,
			companies: state => state.company.companies,
		})
	},
	watch: {
		'form.email': {
			handler() {
				if ('email' in this.errors) {
          delete this.errors.email;
        }
			}
		},
		'form.password': {
			handler() {
				if ('password' in this.errors) {
          delete this.errors.password;
        }
			}
		},
	},
	created() {
		this.SET_LOADED(false);
	},
	methods: {
		...mapMutations(['SET_LOADED']),
		...mapActions(['SIGNIN', 'GET_COMPANIES', 'INIT_ADDITIONAL']),
		submitSignin() {
			if( this.form.rememberMe )
				this.$store.commit('REMEMBER_ME');

			this.SET_LOADED(true);
			
			this.SIGNIN({
				email: this.form.email,
				password: this.form.password
			})
			.then(() => {
				this.successSubmitSignin();
			})
			.catch(errors => {
				this.$notify({
					type: 'error',
					duration: 8000,
					title: errors.message,
				});

				this.SET_LOADED(false);

				this.errors = errors.errors;
			});
		},
		async successSubmitSignin() {
			await this.GET_COMPANIES();

			await this.INIT_ADDITIONAL();

			this.$router.push({ name: 'place.home', params: { id: this.companies[0].places[0].id } });
		}
	}
}
</script>

<style scoped lang="scss">
	.muted + a {
		color: #4246da;
	}
</style>