<template>
  <bp-modal 
    name="confirm" 
    :adaptive="true" 
    height="auto" 
    :scrollable="true" 
    :width="500"
    class="v--modal_type_confirm">
    <bp-card>
      <bp-card-header v-if="options.question">
        <h5>{{ options.question }}</h5>
      </bp-card-header>

      <bp-card-footer>
        <div class="grid grid_col_2 grid_gap_s">
          <bp-button
            :size="'m'"
            @click="choose(false)">
            No
          </bp-button>
          <bp-button
            :size="'m'"
            @click="choose(true)">
            Yes
          </bp-button>
        </div>
      </bp-card-footer>
    </bp-card>
  </bp-modal>
</template>

<script>
export default {
	props: {
		options: {
      type: Object,
      default: () => ({}),
    },
	},
	mounted() {
		this.$modal.show('confirm');
	},
	methods: {
    choose(value) {
			this.$modal.hide('confirm');
      this.choice = value;
      this.$destroy();
		}
  },
}
</script>

<style scoped lang="scss">

</style>
