<template>
  <div class="nav nav-main">
    <nav>
      <a
        class="nav-toggle nav-toggle-main"
        @click.prevent="toggleMenu" />
      <ul class="blank">
        <li>
          <router-link :to="{ name: 'home' }">
            <i class="icon material-icons">dashboard</i>
						<span>Home</span>
          </router-link>
        </li>
        <li>
					<a @click="signout">
						<i class="icon material-icons">exit_to_app</i>
						<span>Sign Out</span>
					</a>
				</li>
      </ul>
    </nav>
    <div class="logo-title">
      <h4>Site Title</h4>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ConfirmDialog from '@/components/ConfirmDialog';

export default {
	data() {
		return {
			questionBeforeExit: 'Do you really want to quit?'
		}
	},
	computed: {
		...mapState({
			companies: state => state.company.companies,
		}),
	},
	methods: {
		...mapActions(['SIGNOUT']),
		toggleMenu() {
			document.body.classList.toggle('no-scroll');
			document.querySelector('.nav-main').classList.toggle('active');
		},
		signout() {
			const confirmData = {
				question: this.questionBeforeExit
			};
			this.$confirm(ConfirmDialog, confirmData).then(isExit => {
				if(isExit) {
					this.SIGNOUT();
				}
			});
		}
	}
}
</script>

<style lang="scss" scoped>

</style>