<template>
  <div id="app">
    <sidebar />
    <main>
      <transition name="fade">
        <div
          v-if="pageLoaded"
          class="loader">
          <div class="l__main">
            <span />
            <span />
          </div>
        </div>
      </transition>
			
      <router-view />
    </main>

    <notifications
      classes="notify-custom"
      position="right center" />
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar';
import { mapState, mapMutations } from 'vuex';

export default {
	name: 'App',
	components: {
		Sidebar
	},
	computed: {
		...mapState({
			pageLoaded: state => state.general.pageLoaded,
		}),
	},
	created() {
    this.$router.beforeEach((to, from, next) => {
			this.SET_LOADED(true);
      setTimeout(() => {
				next();
			}, 500);
    });
	},
	methods: {
		...mapMutations(['SET_LOADED']),
	},
}
</script>

<style>

</style>