<template>
  <div class="table-container">
    <div class="table-wrap">
      <table class="card table">
        <thead
          v-if="header"
          class="card-header">
          <slot name="header" />
        </thead>
        <tbody
          v-if="items.length"
          class="card-content">
          <slot name="custom-row" />

          <slot 
            v-for="(item, keyItem) in items" 
            name="item" 
            :props="item" 
            :index="keyItem" />
        </tbody>
      </table>
    </div>
    <div class="table-settings d-flex mt-s">
      <div class="table-count-items d-flex mr-m">
        Rows per page:
        <div class="select-wrapper">
          <select
            v-model="limit"
            @change="changeLimit">
            <option
              v-for="(value, i) in avalibleCountItems"
              :key="i">
              {{ value }}
            </option>
          </select>
        </div>
      </div>
      <div class="group-buttons buttons_size_s d-flex">
        <bp-button 
          :size="'s'"
          :color="'secondary'"
          class="material-icons"
          :disabled="!+offset"
          @click="prevRows">
          chevron_left
        </bp-button>
        <bp-button 
          :size="'s'"
          :color="'secondary'"
          class="material-icons"
          :disabled="total <= (offset + +limit)"
          @click="nextRows">
          chevron_right
        </bp-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	props: {
		header: {
			type: Boolean,
			default: false
		},
		items: {
			type: Array,
			required: true
		},
		navFunction: {
			type: Function,
			required: true,
		},
		defaultNavParams: {
			type: Object,
			default: () => {},
		},
	},
	data() {
		return {
			offset: 0,
			limit: 5,
			total: 0,
		}
	},
	computed: {
		avalibleCountItems() {
			return [5, 10, 20, 100];
		},
	},
	created() {
		this.navFunction({
			...this.defaultNavParams, 
			limit: +this.limit,
		})
		.then(({items, meta}) => {
			this.total = meta.total;
			this.$emit('update:items', items);
		});
	},
	methods: {
		changeLimit() {
			this.navFunction({
				...this.defaultNavParams, 
				limit: +this.limit,
			})
			.then(({items, meta}) => {
				this.offset = 0;
				this.total = meta.total;
				this.$emit('update:items', items);
			})
		},
		prevRows() {
			const offset = (this.offset - +this.limit) > 0 ? (this.offset - +this.limit) : 0;
			this.navFunction({
				...this.defaultNavParams, 
				limit: +this.limit, 
				offset
			})
			.then(({items, meta}) => {
				this.offset = offset;
				this.total = meta.total;
				this.$emit('update:items', items);
			});
		},
		nextRows() {
			this.navFunction({
				...this.defaultNavParams, 
				limit: +this.limit,
				offset: (+this.offset + +this.limit)
			})
			.then(({items, meta}) => {
				this.offset = +this.offset + +this.limit;
				this.total = meta.total;
				this.$emit('update:items', items);
			});
		},
	}
}
</script>

<style scoped lang="scss">
.table-wrap {
  width: 100%;
  overflow-x: auto;
}

.table {
  background: $color-white;
  border-spacing: 0;
  min-width: 700px;
  width: calc(100% - 2px);
  margin: 1px;

  thead { 
    border-bottom: 1px solid $color-gray-medium;
  }

  th {
    @include rounded-top;
    padding: (.8 * $space) $space;
    text-align: left;
    font-weight: 700;
  }

  tbody {
    &.card-content {
      padding: 0;
    }
  }

  tr {
    @include transition;

    &:last-child>td {
      border-bottom: none;
    }

    &.hover:hover {
      cursor: pointer;
      background-color: lighten($color-gray-light, 2%);
    }
  }

  td {
    border-bottom: 1px solid $color-gray-medium;
    padding: (.8 * $space) $space;

    &:last-child {
      padding-right: $space;
    }

    span {
      display: block;
    }

    &.icon {
      width: 1.5rem;
    }

    .icon {
      display: block;
      max-width: 1.5rem;
    }

    &.top {
      vertical-align: top;
    }
  }

  &-light {
    @include rounded;
    background: $color-gray-light;
    margin-bottom: $space;
  }

  &-border {
    @include rounded;
    border: 1px solid $color-gray-medium;
  }

  &-border-bottom {
    border-bottom: 1px solid $color-gray-medium;
  }

  &-border-top {
    border-top: 1px solid $color-gray-medium;
  }
}

.table-settings {
	@include justify-content(flex-end);

	.table-count-items {
		@include align-items;
		
		.select-wrapper {
			height: 2em;
			margin-left: 10px;

			&:before {
				height: 2rem;
				line-height: 2rem;
				width: 2rem;
			}

			select {
				height: 2em;
				line-height: 1.45rem;
				padding-top: 0.15rem;
				padding-bottom: 0.15rem;
				padding-right: 1.75rem;
			}
		}
	}

	.table-pagination {
		@include flex;
		@include align-items;
	}

	.group-buttons {
		.button {
			@include font-size-l;
		}
	}
}
</style>
