<template>
  <div class="table-container">
    <div class="table-wrap">
      <table class="card table">
        <thead
          v-if="header"
          class="card-header">
          <slot name="header" />
        </thead>
        <tbody
          v-if="visibleItems.length"
          class="card-content">
          <slot name="custom-row" />

          <slot 
            v-for="(item, keyItem) in visibleItems" 
            name="item" 
            :props="item" 
            :index="keyItem" />
        </tbody>
      </table>
    </div>
    <div
      v-if="tableNavigation"
      class="table-settings d-flex mt-s">
      <div class="table-count-items d-flex mr-m">
        Rows per page:
        <div class="select-wrapper">
          <select
            v-model="selectedCountItems"
            @change="start = 0">
            <option
              v-for="(value, i) in avalibleCountItems"
              :key="i">
              {{ value }}
            </option>
          </select>
        </div>
      </div>
      <div class="table-pagination mr-m">
        {{ textPaginationItems }}
      </div>
      <div class="group-buttons buttons_size_s d-flex">
        <bp-button 
          :size="'s'"
          :color="'secondary'"
          class="material-icons"
          :disabled="!start"
          @click="prevRows">
          chevron_left
        </bp-button>
        <bp-button 
          :size="'s'"
          :color="'secondary'"
          class="material-icons"
          :disabled="((start + countItems) >= items.length)"
          @click="nextRows">
          chevron_right
        </bp-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	props: {
		header: {
			type: Boolean,
			default: false
		},
		items: {
			type: Array,
			required: true
		},
		itemsPerPage: {
			type: Number,
			default: 5,
		},
		tableNavigation: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			start: 0,
			selectedCountItems: 5,
		}
	},
	computed: {
		visibleItems() {
			if( this.tableNavigation ) {
				return this.items.slice(this.start, this.start + this.countItems);
			} else {
				return this.items;
			}
		},
		avalibleCountItems() {
			return [this.itemsPerPage, 2 * this.itemsPerPage, 4 * this.itemsPerPage, 'All'];
		},
		countItems() {
			if( this.selectedCountItems === 'All' )
				return this.items.length;
			else
				return +this.selectedCountItems;
		},
		textPaginationItems() {
			const start = +this.start + 1,
						count = +this.items.length,
						end = +this.start + +this.countItems <= +count ? +this.start + +this.countItems : count;

			return start + '-' + end + ' of ' + count
		}
	},
	created() {
		this.selectedCountItems = this.itemsPerPage;
	},
	methods: {
		prevRows() {
			if( this.start < this.countItems ) {
				this.start = 0;
			} else {
				this.start -= +this.countItems;
			}
		},
		nextRows() {
			if( (this.start + this.countItems) < this.items.length ) {
				this.start += +this.countItems;
			}
		},
	},
}
</script>

<style scoped lang="scss">
.table-wrap {
  width: 100%;
  overflow-x: auto;
}

.table {
  background: $color-white;
  border-spacing: 0;
  min-width: 700px;
  width: calc(100% - 2px);
  margin: 1px;

  thead { 
    border-bottom: 1px solid $color-gray-medium;
  }

  th {
    @include rounded-top;
    padding: (.8 * $space) $space;
    text-align: left;
    font-weight: 700;
  }

  tbody {
    &.card-content {
      padding: 0;
    }
  }

  tr {
    @include transition;

    &:last-child>td {
      border-bottom: none;
    }

    &.hover:hover {
      cursor: pointer;
      background-color: lighten($color-gray-light, 2%);
    }
  }

  td {
    border-bottom: 1px solid $color-gray-medium;
    padding: (.8 * $space) $space;

    &:last-child {
      padding-right: $space;
    }

    span {
      display: block;
    }

    &.icon {
      width: 1.5rem;
    }

    .icon {
      display: block;
      max-width: 1.5rem;
    }

    &.top {
      vertical-align: top;
    }
  }

  &-light {
    @include rounded;
    background: $color-gray-light;
    margin-bottom: $space;
  }

  &-border {
    @include rounded;
    border: 1px solid $color-gray-medium;
  }

  &-border-bottom {
    border-bottom: 1px solid $color-gray-medium;
  }

  &-border-top {
    border-top: 1px solid $color-gray-medium;
  }
}

.table-settings {
	@include justify-content(flex-end);

	.table-count-items {
		@include align-items;
		
		.select-wrapper {
			height: 2em;
			margin-left: 10px;

			&:before {
				height: 2rem;
				line-height: 2rem;
				width: 2rem;
			}

			select {
				height: 2em;
				line-height: 1.45rem;
				padding-top: 0.15rem;
				padding-bottom: 0.15rem;
				padding-right: 1.75rem;
			}
		}
	}

	.table-pagination {
		@include flex;
		@include align-items;
	}

	.group-buttons {
		.button {
			@include font-size-l;
		}
	}
}
</style>
