<template>
  <div :class="['dropdown', {'dropdown_active': opened}]">
    <header
      class="dropdown__title"
      @click="toggle">
      <i class="dropdown__arrow material-icons">keyboard_arrow_up</i>
      <span v-html="title" />
    </header>
    <div 
      ref="dropdown" 
      class="dropdown-content" 
      :style="`transition: height ${duration}ms`">
      <div class="dropdown-content-wrap">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			required: true,
		},
		duration: {
			type: Number,
			default: 500,
		},
	},
	data() {
		return {
			opened: false,
		}
	},
	mounted() {
		this.$refs.dropdown.style.height = '0px';
	},
	methods: {
		toggle() {
			const el = this.$refs.dropdown;

			if (this.timeout) {
				clearTimeout(this.timeout);
			}

			el.style.height = `${el.scrollHeight}px`;

			if( !this.opened ) {
				this.timeout = setTimeout(() => {
					el.style.height = 'auto';
					this.timeout = null;
				}, this.duration);
			} else {
				setTimeout(() => el.style.height = '0px', 25);
				this.timeout = setTimeout(() => {
					this.timeout = null;
				}, this.duration);
			}

			this.opened = !this.opened;
		},
	},
}
</script>

<style lang="scss" scoped>
.dropdown {
	padding-top: $space;
	padding-bottom: $space;

	.dropdown__title {
		@include user-select;
		position: relative;
		color:$color-text;
		padding-left: 2 * $space;
		cursor: pointer;
		color: $color-secondary-text;

		.dropdown__arrow {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			color: $color-secondary-text;
			@include transition;
		}
	}

	.dropdown-content {
		@include font-size-default;
		height: 0;
		overflow: hidden;
		color: $color-secondary-text;
		
		.dropdown-content-wrap {
			padding-top: 1.3 * $space;
		}
	}

	&.dropdown_active .dropdown__arrow {
		transform: translateY(-50%) rotateZ(180deg);
	}
}
</style>