<template>
  <transition name="fade">
    <div
      v-if="!!link"
      class="modal_type_media">
      <div
        class="modal-background"
        @click="close" />
      <div
        ref="modal"
        :class="['modal', 'modal_type_'+typeContent]">
        <button
          class="button-close button-icon material-icons"
          @click="close">
          close
        </button>
        <img 
          v-if="typeContent === 'image'"
          ref="modal-img" 
          :src="link">
        <video 
          v-if="typeContent === 'video'"
          ref="modal-video" 
          :src="link" 
          controls />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
	props: {
		link: {
			type: String,
			value: ''
		}
	},
	data() {
		return {
			imgTypes: ['png', 'jpg', 'jpeg', 'gif', 'tiff', 'bmp', 'svg'],
			videoType: ['mp2', 'movie', 'mpeg', 'mpg', 'mp4', 'mov', 'avi'],
			typeContent: null,
			mediaFile: null,
		}
	},
	watch: {
		link: {
			handler() {
				if( this.link ) {
					const linkType = this.link.split('.').pop();
					if( this.imgTypes.includes(linkType) ) {
						this.typeContent = 'image';
						this.mediaFile = new Image();
						this.mediaFile.src = this.link;
						this.mediaFile.onload = () => this.$nextTick(this.setModalWindow());
					} else if( this.videoType.includes(linkType) ) {
						this.typeContent = 'video';
					} else {
						this.typeContent = null;
					}
				} else {
					this.typeContent = null;
				}
			}
		}
	},
	mounted() {
		window.addEventListener('resize', () => {
			if( this.mediaFile && this.typeContent === 'image' ) {
				this.setModalWindow(this.mediaFile);
			}
		});
	},
	methods: {
		setModalWindow() {
			this.setTopImgModal();
		},
		setTopImgModal() {
			const docHeight = document.documentElement.clientHeight;
			const scaleReduce = this.mediaFile.naturalWidth > 500 ? 500 / this.mediaFile.naturalWidth : 1;
			const modalHeight = this.mediaFile.naturalHeight * scaleReduce;

			if( modalHeight < (docHeight - 140) ) {
				this.$refs.modal.style.top = '50%';
				this.$refs.modal.style.transform = 'translate(-50%, -50%)';
			} else {
				this.$refs.modal.style.top = '0px';
				this.$refs.modal.style.transform = 'translateX(-50%)';
			}
		},
		close() {
			this.$emit('update:link', null);
			this.$emit('close');
		}
	}
}
</script>

<style>

</style>