<template>
  <div class="roll">
    <div class="roll-close">
      <button
        class="roll-close__button"
        @click="hide()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="roll-wrap">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
	props: {
		hide: {
			required: true,
			type: Function,
		}
	},
}
</script>

<style lang="scss" scoped>
.roll {
	position: fixed;
	width: $right-empty-space - (.6 * $space);
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background-color: $color-white;
	z-index: 10;
	background-color: $color-white;
	max-height: 100vh;
	@include shadow-m;

	.roll-close {
		padding: (.6 * $space) (1 * $space);
		background-color: $color-white;
		position: fixed;
    top: 0;
    right: 0;
    width: $right-empty-space - (.6 * $space);
		z-index: 2;
	
		.roll-close__button {
			@include flex;
			font-size: 1rem;
			background-color: transparent;
			border: none;
			padding: 0;
			outline: none;
			cursor: pointer;
			color: $color-secondary-text;
		}
	}

	.roll-wrap {
		height: calc(100% - 42px);
		margin-top: 42px;
		position: relative;
		background-color: $color-white;
	}
	
	@include mq("lg") {
		.roll-close {
			top: 49px;
		}

		.roll-wrap {
			height: calc(100% - 91px);
			margin-top: 91px;
		}
	}

	@include mq("md") {
		width: 100%;
	
		.roll-close {
			width: 100%;
		}
	}
}
</style>