/* -----------------------------------------------------------------------------

# Tools - Align

----------------------------------------------------------------------------- */

.center {
  text-align: center;
}

.left {
  text-align: left;

  &-float {
    float: left;
  }
}

.right {
  text-align: right;

  &-float {
    float: right;
  }
}

.d-flex {
  @include flex;
}

.flex-wrap {
  @include flex-wrap;
}

.flex-direction-column {
  @include flex-direction;
}

.justify-content-start {
  @include justify-content(flex-start);
}

.justify-content-center {
  @include justify-content;
}

.justify-content-end {
  @include justify-content(flex-end);
}

.justify-content-between {
  @include justify-content(space-between);
}

.justify-content-around {
  @include justify-content(space-around);
}

.align-items-start {
  @include align-items(flex-start);
}

.align-items-center {
  @include align-items;
}

.align-items-end {
  @include align-items(flex-end);
}

.flex-center {
  @include flex-center;
}

@include mq("lg") {
  .center-desktop {
    text-align: center;
  }
}

@include mq("md") {
  .center-tablet {
    text-align: center;
  }
}

@include mq("sm") {
  .center-mobile {
    text-align: center;
  }
}

.d-inline-block {
  display: inline-block !important;
}