/* -----------------------------------------------------------------------------

# Tools - Divider

----------------------------------------------------------------------------- */

.divider {
  border-bottom: 1px solid $color-gray-medium;
  margin: (2 * $space) 0;
  width: 100%;

  &.divider-s {
    margin: $space 0;
  }
}