/* -----------------------------------------------------------------------------

# Tools - Full Width

----------------------------------------------------------------------------- */

.full-width {
  max-width: 100% !important;
  width: 100% !important;

  @include mq("md") {
    &-tablet {
      width: 100% !important;
    }
  }

  @include mq("sm") {
    &-mobile {
      width: 100% !important;
    }
  }
}