/* -----------------------------------------------------------------------------

# Tools - Min Width

----------------------------------------------------------------------------- */

[class*="min-width-"] {
  margin: 0 auto;
}

.min-width-s {
  min-width: $max-width-sm;
}

.min-width-m {
  min-width: $max-width-md;
}

.min-width-l {
  min-width: $max-width-lg;
}