$direction_space: (
	top:				't',
	bottom:			'b',
	left:				'l',
	right:			'r',
	vertical:		'y',
	horizontal:	'x',
	all:				'a'
);

$default_spaces: (
	none:	 0,
	s:		.5 * $space,
	m:		 1 * $space,
	l:	 1.5 * $space,
	xl:		 2 * $space,
	xxl:	 3 * $space,
	auto:	 auto
);



@each $size, $value in $default_spaces {
	@each $direction, $direction_value in $direction_space {
		.m#{$direction_value}-#{$size} {
			@if $direction == vertical {
				margin-top: $value !important;
				margin-bottom: $value !important;
			} @else if $direction == horizontal {
				margin-left: $value !important;
				margin-right: $value !important;
			} @else if $direction == all {
				margin: $value !important;
			} @else {
				margin-#{$direction}: $value !important;
			}
		}

		.p#{$direction_value}-#{$size} {
			@if $direction == vertical {
				padding-top: $value !important;
				padding-bottom: $value !important;
			} @else if $direction == horizontal {
				padding-left: $value !important;
				padding-right: $value !important;
			} @else if $direction == all {
				padding: $value !important;
			} @else {
				padding-#{$direction}: $value !important;
			}
		}
	}
}